body {
    background-color: peachpuff;
    display:flex;
    flex-direction: column;
}
.selfportrait {
 margin-top: 15%;
 max-height: 220px ;

 }
 .kungalv {
   margin-top: 15%;
   max-height: 420px ;
   max-width: 450px;

 }
 .book {
   display: flex;
   max-height: 256px;
   align-self: flex-end;
   justify-self: end;
   margin-top: 0%;
 }
 .fotboll {
    max-height: 320px ;
    align-self:flex-end ;
    justify-self: end;
    margin-top: 10%;
 }
 .coding {
   max-height: 260px ;
   margin-top: 0%;
   align-self:flex-end ;
   justify-self: end;
 }
 .apa {
    max-height: 220px ;
    align-self: flex-end ;
    justify-self: end;
 }
 .amerikanska {
    max-height: 100px ;
    align-self:flex-end ;
    justify-self: end;
    margin-left: 30%;
 }
 .amerikanska_doc {
   max-height: 100px ;
   display: flex;
   justify-content: space-between;
   margin-left: 60%;
 }
 .navbar {
    overflow: hidden;
    border: 3px;
    border-style: solid;
    background-color:rgb(227, 173, 102);
 }
 .navbar a {
    float: left;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
 }
 .navbar a:hover {
    background-color: rgb(197, 172, 112);
    color:rgb(107, 84, 45)
 }
 .navbar a.active {
    background-color: rgb(135, 106, 39);
    color:rgb(220, 196, 111);
 }
.container_nav {
    display: flexbox;
    justify-content:left;
    align-items: center;
}
.container-1 {
   display: flex;
   justify-content:space-between;
    
}
.button {
   padding: 10px 15px;
   background-color:rgb(209, 168, 106);
   align-items: center;
}

header {
    display: flex;

}
.index-txt {
   font-size: 19px;
   text-align: center;
   border-radius: 1cm;
   font-family: Georgia, Times, 'Times New Roman', serif;
   border: 3px;
   border-style: dotted;
   justify-content:right;
}
.intrests-txt {
   font-family: Georgia, 'Times New Roman', Times, serif;
   border: 3px;
   border-style: dashed;
   text-align: center;
   font-size: 18px; 
   border-radius: 1cm;
   padding-top: 1mm;
  
}
.doc_txt {
   font-size: 18px;
   font-family: Georgia, Times, 'Times New Roman', serif;
}
.courses-txt {
   display: flexbox;
   font-size: 18px;
   font-family: Georgia, Times, 'Times New Roman', serif;
}
p {
   margin-top: 1px;
   line-height: 1.8;
   font-size: 18px;
}
li {
   line-height: 1.8;
}